.contact-other_all{
  width: 1000px !important;
  @media screen and (max-width: 991px){
    width: auto !important
  }
  .collect-all{
    .wpcf7-form{
      border: 1px solid $logz-color;
      box-shadow: 0 3px 0 rgba($logz-color, 0.03);
      @media screen and (max-width: 991px){
        border: none;
        padding: 10px;
      }
      .contact-heading-form{
        padding: 15px 0 15px 40px !important;
          vertical-align: middle !important;
          border-bottom: 1px solid $logz-color;
      }
      .contact-main-form{
        border-top: 1px dotted rgba($logz-color,0.6);
        border-bottom: 1px solid $logz-color;
    }
  }
  .contact-common-form, .contact-main-form{
    text-align: center;
  }
  .contact-all{
    display: table;
    table-layout: fixed;
    border-bottom: 1px dotted rgba($logz-color,0.6);
    @media screen and (max-width: 991px){
      display: inline-block;
      width: 100%;
    }
    &:last-child{
      border-bottom: none;
    }
    .contact-all-th{
      width: 314px;
      padding: 35px 15px 20px 40px;
      letter-spacing: 1px;
      @media screen and (max-width: 991px){
        margin: 0 auto;
        padding: 17.5px 7.5px 10px 20px;
      }
      @media screen and (max-width: 768px){
        margin: 0 auto;
        padding: 8.25px 3.55px 5px 10px;
      }
      label{
        font-weight: normal;
        cursor: pointer;
        .contact-all-th-tag{
          font-size: 0.8rem;
          color: #ffffff;
          background-color: #f44522;
          padding: 2px 5px;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
    .contact-all-td{
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      padding: 20px 39px 20px 0;
      text-align: left;
      p{
        float: left;
      }
      .checkbox-874, .checkbox-67{
        .wpcf7-checkbox{
          .wpcf7-list-item{
            float: left;
            clear: both;
            input{
              width: 50px;
            }
          }
        }
      }
      @media screen and (max-width: 991px){
        margin: 0 auto;
        width: 320px;
        display: inherit;
        text-align: center;
        padding: 10px 19.5px 10px 0px;
      }
      .wpcf7-form-control-wrap{
        display: inline-block;
        width: 100%;
      }
    }
    .contact-all-td, .contact-all-th{
      vertical-align: top;
      font-size: 1.1rem;
    }
  }
    .contact-heading-form{
      @media screen and (max-width: 991px){
        text-align: center;
        &:first-child{
          display: none;
        }
      }
      &:last-child{
        padding-left: 0 !important;
        font-weight: bold;
      }
      .contact-all{
        display: table;
        table-layout: fixed;
        .contact-all-th{
          width: 314px;
          padding: 35px 15px 20px 40px;
          letter-spacing: 1px;
        }
        .contact-all-td{
          display: table-cell;
          vertical-align: middle;
          width: 684px;
          padding: 20px 39px 20px 0;
        }
        .contact-all-td, .contact-all-th{
          display: table-cell;
          vertical-align: top;
          font-size: 1.1rem;
          border-bottom: 1px solid #e1e1e1;
        }
      }
    }
  }
  .wpcf7-form-control{
    min-height: 40px;
    font-size: 1.1rem;
    width: 310px;
    margin: 0 auto;
    float: left;
  }
  .wpcf7-not-valid-tip{
    font-size: 0.9rem;
    color: red;
    float: left;
    clear: both;
  }
  .contact-all-td-ex{
    font-size: 0.8rem;
    float: left;
    clear: both;
    i{
      background-color: #f1f1f1;
      padding: 0 5px;
      margin-right: 10px;
      border-radius: 5px;
    }
  }
}
.contact-privacy{
  margin: 0 auto;
  width: 50%;
  padding: 50px 0 20px 0;
  @media screen and (max-width: 768px){
    width: 80%;
  }
  a{
    width: 100%;
  }
}
.contact-submit{
  margin: 0 auto;
  width: 310px;
  padding: 0 50px 50px 50px;
  .wpcf7-submit{
    width: 100%;
    padding: 10px;
    &:hover, &:active, &:focus{
      background-color: $logz-color;
      color: $white;
    }
  }
}
.screen-reader-response, .wpcf7-response-output{
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: red;
  font-weight: bold;
  border-radius: 5px;
  height: 30px;
  display: inline-block;
  width: 100%;
  ul{
    display: none;
  }
}
