footer{
  height: 340px;
  padding: 50px 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
  @media screen and (max-width: 991px){
    height: auto;
    padding: 0;
  }
  .footer_main{
    height: 240px;
    padding: 10px 60px 30px;
    background: #fff;
    .menu-footer-left-container, .menu-footer-center-container, .menu-footer-right-container{
      height: 168px;
      width: 100%;
      overflow-x: hidden;
      #menu-footer-center,#menu-footer-right, #menu-footer-left{
        float: left;
        .menu-item{
          float: none;
          margin-top: 10px;
          a{
            padding:0;
            padding: 4px;
            color: $logz-color;
            &:hover{
              text-decoration: underline;
              background: $white;
            }
          }
        }
      }
    }
    .footer_title{
      float: left;
      width: 100%;
      font-size: 1.8rem;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
      color: $logz-color;
    }
  }
  .footer_sub{
    width: 100%;
    height: 100%;
  }
  .footer_bottom-address_mini{
    background: $white;
    background-color: rgba($logz-color, 0.3);
    padding: 15px;
    position: relative;
    .footer_bottom-address-contents_mini{
      color: $logz-color;
      font-size: 1.0rem;
      padding: 5px;
      text-align: center;
    }
    .footer_bottom-address-img_mini{
      position: absolute;
      top: 0;
      left: 0;
      width: 35%;
      height: auto;
    }
  }
  .footer_bottom{
    background-color: $logz-color;
    height: 100px;
    padding: 20px 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    @media screen and (max-width: 991px){
      width: 1203px;
    }
    .footer_bottom-center{
      margin: 0 65px;
      .footer_bottom-left{
        .footer_bottom-link{
          float: left;
          .footer_bottom-img{
            height: 40px;
            margin-top: 10px;
          }
        }
        .footer_bottom-address{
          float: left;
          padding: 10px 10px 10px 30px;
          line-height: 20px;
          .footer_bottom-address-contents{
            color: $white;
          }
        }
      }
    }
    .footer_bottom-right{
      height: 40px;
      margin-top: 10px;
      float: right;
      width: 520px;
      .footer_bottom-right-list{
        width: 520px;
        .footer_bottom-right-item{
          float: left;
          margin-left: 10px;
          &:first-child{
            margin-left: 0;
          }
          a{
            color: $white;
            border: 1px solid $white;
            padding: 3px;
            border-radius: 5px;
            font-size: 0.8rem;
            transition: .8s ease;
            &:hover{
              background-color: $white;
              color: $logz-color;
              text-decoration: none;
              transition: .5s ease;
            }
          }
        }
      }
      .footer_bottom-right-copyright{
        color: $white;
        clear: both;
        float: right;
        margin-top: 10px;
        margin-right: 75px;
      }
    }
  }
}
.footer_bottom_mini{
  background-color: $logz-color;
  height: 100px;
  @media screen and (max-width: 767px){
    height: 40px;
  }
  .footer_bottom-right-copyright_mini{
    display: block;
    color: $white;
    font-size: 1.2rem;
    text-align: center;
    line-height: 100px;
    @media screen and (max-width: 767px){
      line-height: 40px;
      font-size: 1.0rem;
    }
  }
}
