// Theme Color
// Main Color
$logz-color: #4087c7;
$white: #fff;

// Category Color
// おもしろ
$fun: red;
// 教育
$education: #FFA8FF;
// 福祉
$welfare: #fc8d00;

.fun, .cate-fun, .cat-item-3{
  background-color: $fun;
  &:hover, &:active, &:focus{
    background-color: rgba($fun,0.6)
  }
}
// category titleのborder
.fun{
  border-left: 5px solid $fun;
}
.category-titlefun{
  border: 2px solid $fun;
  color: $fun;
}
// content_category-barのborder-bottom
.category-fun{
  .content_category-bar{
    border-bottom: 4px solid $fun;
    .menu-item-225, .category-titlefun{
      background-color: $fun;
      a{
        color: $white !important;
      }
    }
  }
}
// category-barの色
.menu-item-225{
  &:hover{
    background-color: rgba($fun,0.8)
  }
}
.education, .cate-education, .cat-item-5{
  background-color: $education;
  &:hover, &:active, &:focus{
    background-color: rgba($education,0.6)
  }
}
// category titleのborder-left
.education{
  border-left: 5px solid $education,;
}
.category-titleeducation{
  border: 2px solid $education;
  color: $education;
}
.category-education{
  // content_category-barのborder-bottom
  .content_category-bar{
    border-bottom: 4px solid $education;
    .menu-item-226{
      background-color: $education;
      a{
        color: $white !important;
      }
    }
  }
}
// category-barの色
.menu-item-226{
  &:hover{
    background-color: rgba($education,0.8)
  }
}
.welfare, .cate-welfare, .cat-item-4{
  background-color: $welfare;
  &:hover, &:active, &:focus{
    background-color: rgba($welfare,0.6)
  }
}
// category titleのborder
.welfare{
  border-left: 5px solid $welfare;
}
.category-titlewelfare{
  border: 2px solid $welfare;
  color: $welfare;
}
// content_category-barのborder-bottom
.category-welfare{
  .content_category-bar{
    border-bottom: 4px solid $welfare;
    .menu-item-227{
      background-color: $welfare;
      a{
        color: $white !important;
      }
    }
  }
}
// category-barの色
.menu-item-227{
  &:hover{
    background-color: rgba($welfare,0.8)
  }
}
// all　すべて
// single-member category color
// category color
.home{
  .menu-item-229{
    background-color: $logz-color;
    a{
      color: $white !important;
    }
  }
}
.content_category-barcurrent{
  border-bottom: 4px solid $logz-color;
}
.cate-all, .cat-item-1{
  display: none;
}
.menu-item-229{
  &:hover{
    background-color: rgba($logz-color,0.8)
  }
}
//singleの時のborder color設定
.single{
  .content_category-barwelfare{
    border-bottom: 4px solid $welfare;
    .menu-item-227{
      background-color: $welfare;
      a{
        color: $white !important;
      }
    }
  }
  .content_category-barfun{
    border-bottom: 4px solid $fun;
    .menu-item-225{
      background-color: $fun;
      a{
        color: $white !important;
      }
    }
  }
  .content_category-bareducation{
    border-bottom: 4px solid $education;
    .menu-item-226{
      background-color: $education;
      a{
        color: $white !important;
      }
    }
  }
}

// [New] color
.new{
  color: $logz-color;
  background-color: $white;
  border-radius: 5px;
  padding: 1px 4px;
  font-size: 1.21rem;
}
.new-half{
  font-size: 1.0rem;
}
.new_mini{
  font-size: 0.8rem;;
  color: $white;
  background-color: $logz-color;
  float: right;
  margin-right: 8px;
}
.screen-reader-text{
  display: none;
}
////////////////////////////////////////////////////////////
// Body Background-image
@mixin body-setting{
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-x;
  @media screen and (max-width: 1203px){
    width:1203px;
  }
  @media screen and (max-width: 990px){
    width:100% !important;
  }
  @media screen and (max-width: 768px){
    background: none;
  }
}
// Home　ホーム
.home, .home #content:before{
  @include body-setting;
  background-image: url("http://localhost:8888/wordpress/wp-content/uploads/2016/02/dummy.jpg");
}
// Members page　メンバー
.page-template-members{
  @include body-setting;
  background-image: url("http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_0763-1.jpg");
}
// Company page 会社概要
.page-template-company{
  @include body-setting;
  background-image: url("");
}
// Works page 制作実績
.page-template-works{
  @include body-setting;
  background-image: url("");
}
// Staff page 役員紹介
.page-template-staff{
  @include body-setting;
  background-image: url("");
}
// Message page 代表挨拶
.page-template-message{
  @include body-setting;
  background-image: url("");
}
// Contant page お問い合わせ
.page-template-contact{
  @include body-setting;
  background-image: url("");
}
// Recruit page 採用情報
.page-template-recruit{
  @include body-setting;
  background-image: url("");
}
// Recruit ques 採用についてよくある質問
.page-template-recruit-ques{
  @include body-setting;
  background-image: url("");
}
// Recruit mid career 中途採用職種一覧
.page-template-recruit_mid_career{
  @include body-setting;
  background-image: url("");
}
// Privacy page プライバシー・ポリシー
.page-template-privacy{
  @include body-setting;
  background-image: url("");
}
// Single page メンバー
.single-members{
  @include body-setting;
  background-image: url("");
}
// Single page 制作実績
.single-works{
  @include body-setting;
  background-image: url("");
}
////////////////////////////////////////////////////////////
// Category
// education
.category-education, .category-education #content:before{
  @include body-setting;
  background-image: url("");
}
.category-welfare, .category-welfare #content:before{
  @include body-setting;
  background-image: url("");
}
.category-fun, .category-fun #content:before{
  @include body-setting;
  background-image: url("http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5195.jpg");
}
////////////////////////////////////////////////////////////

// backgroundのfilter設定
#content{
  &:before{
    display: none;
  }
}
.home, .category{
  #content{
    &:before{
      display: inherit;
    }
  }
}

// Xs,Smのbackground-color
$xs_sm_background-color: #fff;

// Contentのimgの大きさ
@mixin content_img-size($width: 100%, $height: 35%) {
  width: $width;
  height: $height;
}
// Contentのコンテンツ(absolute)
@mixin content_absolute($left: 0, $bottom: 0) {
  position: absolute;
  left: $left;
  bottom: $bottom;
}

// table
.table{
  border-collapse: collapse;
}
// border
.l_frame-main{
  border: 1px solid $logz-color;
  box-shadow: 0 3px 0 rgba($logz-color, 0.3);
}

//
.small-content{
  @media screen and (max-width: 767px){
    display: none;
  }
}
.large-content{
  @media screen and (min-width: 768px){
    display: none;
  }
}

// Other bar
.single-members{
  @media screen and (max-width: 992px){
    .other-bar{
      margin-top: -1px;
    }
  }
}
.other-bar{
  height: 45px;
  width: 100%;
  background-color: rgba($logz-color,0.4);
  @media screen and (max-width: 1203px){
    width:1203px;
  }
  @media screen and (max-width: 990px){
    width:100% !important;
  }
  .other-bar-width{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1190px;
    @media screen and (max-width: 768px){
      padding: 0;
      .other-bar-list{
        letter-spacing: -0.4em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .other-bar-item{
          display: inline-block;
          padding: 5px 15px 1px;
          line-height: 2.45;
          background: $logz-color;
          letter-spacing: normal;
          vertical-align: top;
          width: 100%;
          text-align: center;
          &:first-child{
            display: none;
          }
          .fa-chevron-right, .other-bar-item_home{
            display: none;
          }
          span{
            font-weight: bold;
            color: $white;
            padding-left: 5px;
            font-size: 1.0rem !important;
          }
        }
      }
    }
    .other-bar-list{
      letter-spacing: -0.4em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      .other-bar-item{
        display: inline-block;
        padding: 3px 15px 3px;
        line-height: 2.45;
        background: $logz-color;
        letter-spacing: normal;
        vertical-align: top;
        position: relative;
        a{
          &:hover{
            text-decoration: none;
            cursor: pointer;
            border-bottom: 2px solid $white;
            padding-bottom: 5px;
          }
          i{
            vertical-align: middle;
          }
          .fa-home{
            color: $white;
            font-size: 1.4rem;
          }
        }
        .fa-chevron-right{
          font-size: 0.9rem;
          position: absolute;
          top: 18px;
          left: 0;
          line-height: 12px !important;
          color: $white;
        }
        span{
          font-size: 0.9rem;
          color: $white;
          padding-left: 5px;
        }
      }
    }
  }
}

// Page bar hidden
.page, .single-works{
  //　No Use
  #content_category-bar{
    display: none;
  }
}
.page-template-members, .single-members{
  //　No Use
  #content_category-bar{
    display: none;
  }
  #members-main-img-mini{
    width: auto;
    margin-bottom: 0;
    @media screen and (min-width: 993px){
      display: none;
    }
    .members-main-img-item{
      width: 440px;
      overflow: hidden;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .members-main-img{
    background: none;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 300px;
    @media screen and (max-width: 992px){
      display: none;
    }
    .members-main-img-list{
      width: 2200px;
      height: 300px;
      letter-spacing: -0.4em;
      text-align: center;
      overflow: hidden;
      position: absolute;
      left: 50%;
      margin-left: -1100px;
      .members-main-img-item{
        display: inline-block;
        width: 440px;
        height: 440px;
        overflow: hidden;
        letter-spacing: normal;
        position: relative;
        top: -70px;
        img{
          width: 440px;
          height: 440px;
        }
      }
    }
  }
  .content_top-img{
    @media screen and (min-width: 993px){
      display: none;
    }
  }
}
.single-members{
  .content_top-img{
      display: none;
  }
  .single-members-all{
        display: inline-block;
    @media screen and (max-width: 992px){
      padding-top: 106px;
    }
    @media screen and (max-width: 767px){
      padding-top: 84px;
    }
  }
}

// Fixing page
// question
.question{
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid $logz-color;
  box-shadow: 0 3px 0 rgba($logz-color, 0.3);
  .question-content{
    vertical-align: top;
    padding: 20px 20px 23px;
    .question-content-title{
      width: 100%;
      text-align: center;
      padding: 6px 0 4px;
      font-weight: bold;
      font-size: 1.0rem;
      position: relative;
      background: $logz-color;
      line-height: 1.6;
      color: $white;
      border-radius: 5px;
      @media screen and (max-width: 500px){
        font-size: 0.7rem;
      }
    }
    a{
      display: block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 1.2rem;
      border-radius: 5px;
      box-shadow: 1.5px 2.598px 0px 0px rgba(0, 0, 0, 0.039);
      background: #FFF;
      color: $logz-color;
      border: 1px solid $logz-color;
      font-weight: bold;
      letter-spacing: 2px;
      transition: .5s;
      text-align: center;
      margin-top: 10px;
      @media screen and (max-width: 500px){
        font-size: 1.0rem;
        height: 40px;
        line-height: 40px;
      }
      &:hover{
        background-color: $logz-color;
        color: $white;
        transition: .5s;
        text-decoration: none;
      }
    }
  }
}

.sidebar-page-menu_mini{
  margin-bottom: 40px;
  .sidebar-page-title_mini{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    border-radius: 5px;
    background: rgba($logz-color, 0.9);
    font-size: 1.1rem;
    color: #fff;
    margin: 0;
    font-weight: bold;
  }
  .menu-page-content-menu-container{
    width: 100%;
    border:{
      right: 1px solid $logz-color;
      left: 1px solid $logz-color;
    }
    border-radius: 5px;
    #menu-page-content-menu{
      margin: 0;
      width: 100%;
      .menu-item{
        width: 100%;
        text-align: center;
        padding: 1.5px 0;
        border-bottom: 1px solid #4087c7;
        a{
          font-size: 0.8rem;
          &:active, &:focus{
            background-color: $logz-color;
            color: $white;
            border-radius: 5px;
            transition: .5s ease;
          }
        }
      }
    }
  }
}
.menu-sidebar-recruit-container{
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  #menu-sidebar-recruit-1{
    .menu-item{
      a{
        font-size: 1rem !important;
      }
    }
  }
  #menu-sidebar-recruit{
    border:{
      right: 1px solid $logz-color;
      left: 1px solid $logz-color;
    }
  }
  #menu-sidebar-recruit, #menu-sidebar-recruit-1{
    margin: 0;
    width: 100%;
    display: inline-block;
    .menu-item{
      width: 100%;
      text-align: center;
      padding: 5px 0;
      border-bottom: 1px solid #4087c7;
      a{
        font-size: 0.8rem;
        transition: .5s ease;
        &:active, &:focus, &:hover{
          background-color: $logz-color;
          color: $white;
          border-radius: 5px;
          transition: .5s ease;
        }
      }
    }
  }
}
// pagenation
.pagenation{
  width: 100%;
  margin: 10px 0;
  display: inline-block;
  letter-spacing: -5.4px;
  .next, .prev, .member-home{
    display: inline-block;
    width: 33.3333%;
    // float: left;
    letter-spacing: 1px;
    a{
      display: inline-block;
      transition: .5s;
      cursor: pointer;
      @media screen and (max-width: 768px){
        font-size: 0.8rem;
      }
      &:hover{
        text-decoration: none;
        transition: .2s ease-in;
      }
    }
  }
  .next{
    text-align: right;
    a{
      color: $logz-color ;
      padding: 15px;
      border: $logz-color 2px solid;
      border-radius: 5px;
      &:hover{
        background-color: $logz-color;
        color: $white;
      }
    }
  }
  .member-home{
    text-align: center;
    a{
      color: #fff ;
      padding: 15px;
      border: $logz-color 2px solid;
      border-radius: 5px;
      background-color: $logz-color;
      &:hover{
        background-color: $white;
        color: $logz-color;
      }
    }
  }
  .prev{
    a{
      color: $logz-color ;
      padding: 15px;
      border: $logz-color 2px solid;
      border-radius: 5px;
      &:hover{
        background-color: $logz-color;
        color: $white;
      }
    }
  }
}

// sns share
/*bottom*/
#sns-btn{
	margin:50px 15px;
	padding: 55px 0 50px 0px;
  border-top: 1px solid $logz-color;
  border-bottom: 1px solid $logz-color;
  @media screen and (max-width: 768px){
    margin:10px 0;
  	padding: 13px 0 12.5px 0px;
  }
}
.sns-list{
  margin: 0 auto;
  display: table;
}
.balloon-btn-set{
  width:70px;
  height:63px;
  display: inline-block;
}

.balloon-btn-set a{
  display:block;
  color:#777;
  font-size:15px;
  text-decoration:none;
}
.balloon-btn-horizontal{
	float:right;
	margin: 0 2px;
	text-align:center;
  @media screen and (max-width: 768px){
    margin: inherit;
    width: 33.3333%;
    margin: 10px 0;
  }
}
a.arrow-box-horizontal-link{
  font-weight:bold;
  text-align:center;
}
a.arrow-box-horizontal-link:hover{color:#777;}
a.balloon-btn-horizontal-link{
  border:1px solid #ddd;
  width:68px;
  height:25px;
  line-height:25px !important;
  position:relative;
  top:7px;
  color:white;
  border-radius:3px;
}
a.balloon-btn-horizontal-link:hover{
  color:white;
  opacity:0.6;
}

a.twitter-balloon-btn-horizontal-link{background-color:#6bace2;}
a.facebook-balloon-btn-horizontal-link{background-color:#445d93;}
a.googleplus-balloon-btn-horizontal-link{background-color:#d36054;}
a.hatena-balloon-btn-horizontal-link{background-color:#4c7ec6;}
a.pocket-balloon-btn-horizontal-link{background-color:#e15c69;}
a.line-balloon-btn-horizontal-link{background-color:#50c150;}
a.feedly-balloon-btn-horizontal-link{background-color:#94be61;}

.arrow-box-horizontal {
  position: relative;
  background: #fff;
  border: 1px solid #bbb;
  text-align:center;
  width:68px;
  height:33px;
  border-radius:3px;
  top:-7px;
  line-height:33px;
  display:inline-block;
}

.arrow-box-horizontal:after,
.arrow-box-horizontal:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box-horizontal:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 3px;
  margin-left: -3px;
}
.arrow-box-horizontal:before {
  border-color: rgba(187, 187, 187, 0);
  border-top-color: #BBBBBB;
  border-width: 5px;
  margin-left: -5px;
}
/*  head  */
.share-num{
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.btn{
  border: 1px solid $logz-color;
  width: 100%;
  transition: .5s;
  a{
    transition: .5s;
    display: block;
    &:hover{
      text-decoration: none;
      transition: .5s;
    }
  }
}

.text-data{
  margin-bottom: 41px;
  color: $logz-color;
  .text-data-heading{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 14px;
  }
  .text-data-content{

  }
}
