// footer
%footer.row
  %div.footer_main.col-md-8.visible-lg.visible-md
    %ul.row
      %li.col-md-4
        %p.footer_title title
        <?php wp_nav_menu(array(
        'theme_location' => 'footer-left',
        )); ?>
      %li.col-md-4
        %p.footer_title 　
        <?php wp_nav_menu(array(
        'theme_location' => 'footer-center',
        )); ?>
      %li.col-md-4
        %p.footer_title　
        <?php wp_nav_menu(array(
        'theme_location' => 'footer-right',
        )); ?>
  %div.footer_sub.col-md4.visible-lg.visible-lg.visible-md
  %div.footer_bottom.row.visible-lg.visible-md
    %div.footer_bottom-center
      %div.footer_bottom-left.col-lg-6
        %a.footer_bottom-link{:href => "/"}
          / company name img
          %img.footer_bottom-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/logz_inc-white.png"}
        / address
        %div.footer_bottom-address
          %p.footer_bottom-address-contents 株式会社LOGZ　　TEL03-6233-8955
          %p.footer_bottom-address-contents 〒160-0008　新宿区三栄町29-6 Fビル 5階
      / buttom
      %div.footer_bottom-right.col-lg-6
        %ul.footer_bottom-right-list.visible-lg.visible-md
          %li.footer_bottom-right-item
            %a{:href => "/"} プライバシーポリシー
          %li.footer_bottom-right-item
            %a{:href => "/"} メディア・広告掲載について
          %li.footer_bottom-right-item
            %a{:href => "/"} サイトマップ
        %copyright.footer_bottom-right-copyright &copy 2015-2016 LOGZ,Inc.
  %div.footer_bottom-address_mini.hidden-lg.hidden-md
    %p.footer_bottom-address-contents_mini 株式会社LOGZ
    %p.footer_bottom-address-contents_mini 〒160-0008
    %p.footer_bottom-address-contents_mini TEL03-6233-8955
    %p.footer_bottom-address-contents_mini 新宿区三栄町29-6 Fビル 5階
    %img.footer_bottom-address-img_mini{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/rooton-1.png"}
  %div.footer_bottom_mini.hidden-lg.hidden-md
    %copyright.footer_bottom-right-copyright_mini &copy 2015-2016 LOGZ,Inc.
