// footer
%footer.row
  %div.footer_main.col-md-8.visible-lg.visible-md
    %ul.row
      %li.col-md-4
        %p.footer_title ABOUT US
        <?php wp_nav_menu(array(
        'theme_location' => 'footer-left',
        )); ?>
      %li.col-md-4
        %p.footer_title 　
        <?php wp_nav_menu(array(
        'theme_location' => 'footer-center',
        )); ?>
      %li.col-md-4
        %p.footer_title　
        <?php wp_nav_menu(array(
        'theme_location' => 'footer-right',
        )); ?>
  %div.footer_sub.col-md4.visible-lg.visible-lg.visible-md
  %div.footer_bottom.row.visible-lg.visible-md
    %div.footer_bottom-center
      %div.footer_bottom-left.col-lg-6
        <a href="<? echo home_url();?>" class="footer_bottom-link">
        / company name img
        %img.footer_bottom-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/logz_inc-white.png"}
        </a>
        / address
        %div.footer_bottom-address
          %p.footer_bottom-address-contents 株式会社LOGZ　　TEL03-6233-8955
          %p.footer_bottom-address-contents 〒160-0008　新宿区三栄町29-6 Fビル 5階
      / buttom
      %div.footer_bottom-right.col-lg-6
        <?php wp_nav_menu(array('theme_location' => 'sidebar-other'));?>
        %copyright.footer_bottom-right-copyright &copy 2015-2016 LOGZ,Inc.
  %div.footer_bottom-address_mini.hidden-lg.hidden-md
    %p.footer_bottom-address-contents_mini 株式会社LOGZ
    %p.footer_bottom-address-contents_mini 〒160-0008
    %p.footer_bottom-address-contents_mini TEL03-6233-8955
    %p.footer_bottom-address-contents_mini 新宿区三栄町29-6 Fビル 5階
    %img.footer_bottom-address-img_mini{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/rooton-1.png"}
  %div.footer_bottom_mini.hidden-lg.hidden-md
    %copyright.footer_bottom-right-copyright_mini &copy 2015-2016 LOGZ,Inc.

%script
  $(function() {
  $('#menu-home-top-category').slick({
  infinite: false,
  dots:false,
  slidesToShow: 6,
  slidesToScroll: 4,
  responsive: [{
  breakpoint: 768,
  settings: {
  arrows: false,
  slidesToShow: 3,
  slidesToScroll: 1,
  }
  },{
  breakpoint: 480,
  settings: {
  arrows: false,
  slidesToShow: 3,
  slidesToScroll: 1,
  }
  }
  ]
  });
  });
%script
  $(function() {
  $('#members-main-img-mini').slick({
  infinite: true,
  dots:false,
  slidesToShow: 6,
  slidesToScroll: 4,
  responsive: [{
  breakpoint: 768,
  settings: {
  arrows: false,
  slidesToShow: 3,
  slidesToScroll: 1,
  }
  },{
  breakpoint: 480,
  settings: {
  arrows: false,
  slidesToShow: 2,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
  }
  }
  ]
  });
  });
