/ Memo !important
/ header,footerなどの一番の親要素のクラス名を振っていないのは、Bootstrapを使用しているための設計上の問題です。

// header
%header
  %h1.header_description <?php bloginfo('description'); ?>
  %nav.navbar-default.header_navbar
    %div.container-fluid
      %div.navbar-header.header_navbar-main
        %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse",target: "#menu-header"}}
          %p
            %i.fa.fa-bars
        %div#sidebar_phone-size
        %div.sidebar_phone-size_slide
          %div.sidebar_phone-size_btn-menu
            %a{:href => "/"}
              %i.fa.fa-meh-o.sidebar_phone-size_btn-icon

        %section
        %nav.sidebar_phone-size_slide-menu

          %div.sidebar_phone-size_slide-title Member
          %div.sidebar_phone-size_slide-member
            %ul.sidebar_phone-size_slide-member-list.row
              %li.sidebar_phone-size_slide-member-item.col-xs-4
                %a{:href => "/"}
                  %p.sidebar_phone-size_slide-member-img-frame
                    %img.sidebar_phone-size_slide-member-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5094-1.jpg"}
                  %h1.sidebar_phone-size_slide-member-manager 代表取締役
                  %h2.sidebar_phone-size_slide-member-name ああああああああああ

              %li.sidebar_phone-size_slide-member-item.col-xs-4
                %a{:href => "/"}
                  %p.sidebar_phone-size_slide-member-img-frame
                    %img.sidebar_phone-size_slide-member-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5094-1.jpg"}
                  %h1.sidebar_phone-size_slide-member-manager 代表取締役
                  %h2.sidebar_phone-size_slide-member-name ああああああああああ

              %li.sidebar_phone-size_slide-member-item.col-xs-4
                %a{:href => "/"}
                  %p.sidebar_phone-size_slide-member-img-frame
                    %img.sidebar_phone-size_slide-member-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5094-1.jpg"}
                  %h1.sidebar_phone-size_slide-member-manager 代表取締役
                  %h2.sidebar_phone-size_slide-member-name ああああああああああ

              %li.sidebar_phone-size_slide-member-item.col-xs-4
                %a{:href => "/"}
                  %p.sidebar_phone-size_slide-member-img-frame
                    %img.sidebar_phone-size_slide-member-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5094-1.jpg"}
                  %h1.sidebar_phone-size_slide-member-manager 代表取締役
                  %h2.sidebar_phone-size_slide-member-name ああああああああああ

              %li.sidebar_phone-size_slide-member-item.col-xs-4
                %a{:href => "/"}
                  %p.sidebar_phone-size_slide-member-img-frame
                    %img.sidebar_phone-size_slide-member-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5094-1.jpg"}
                  %h1.sidebar_phone-size_slide-member-manager 代表取締役
                  %h2.sidebar_phone-size_slide-member-name ああああああああああ

              %li.sidebar_phone-size_slide-member-item.col-xs-4
                %a{:href => "/"}
                  %p.sidebar_phone-size_slide-member-img-frame
                    %img.sidebar_phone-size_slide-member-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5094-1.jpg"}
                  %h1.sidebar_phone-size_slide-member-manager 代表取締役
                  %h2.sidebar_phone-size_slide-member-name ああああああああああ

              %div.sidebar_phone-size_slide-member-show
                %a{:href => "/"}
                  %span.sidebar_phone-size_slide-member-show-content すべてのLOGZメンバーを見る
                  %i.fa.fa-angle-right

          %div.sidebar_phone-size_slide-title Category
          <?php wp_nav_menu(array('theme_location' => 'sidebar-category'));?>

          %div.sidebar_phone-size_slide-title Other
          %div.sidebar_phone-size_slide-other
            <?php wp_nav_menu(array('theme_location' => 'sidebar-other'));?>

          %div.sidebar_phone-size_slide-title-advertisment
            %ul.sidebar_phone-size_slide-advertisment_wide
              %li.sidebar_phone-size_slide-advertisment-all
                -# %a{:href => "/"}
                -#   %img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5129.jpg"}
                <a href="http://superceo.jp/book/company/i60107/#!3" target="_blank"><img src="http://superceo.jp/book/company/i60107/bnr/i60107.jpg" alt="次世代経営者のCEOスタイルマガジンSUPERCEOで当社特集掲載中" width="1900" height="280"/></a>

          <a href="<? echo home_url();?>">
          %img.sidebar_phone-size_slide-mini-rooton{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/rooton-1.png"}
          %img.sidebar_phone-size_slide-mini-text{src:"http://localhost:8888/wordpress/wp-content/uploads/2016/02/CANo38AUwAEQ8o9.png"}
          </a>

          %div.sidebar_phone-size_slide-dummy

            / CloseBtn
            %li.sidebar_phone-size_slide-item
              %a.btnClose{:href => "/"} CLOSE

        <a href="<? echo home_url();?>" class="navbar-brand">
        %img.header_navbar-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/logz_inc.png"}
        </a>
      %div.collapse.navbar-collapse#menu-header
        <?php wp_nav_menu(array('theme_location' => 'header'));?>

  -# %img.content_top-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_4010.jpg"}
  <a href="http://superceo.jp/book/company/i60107/#!3" target="_blank"><img src="http://superceo.jp/book/company/i60107/bnr/i60107.jpg" alt="次世代経営者のCEOスタイルマガジンSUPERCEOで当社特集掲載中" width="1900" height="280" class="content_top-img"/></a>
  %div#content_category-bar
    // 施工中
