!!!
%html{:lang => "ja"}
  %head
    / Language Choice
    %meta{:charset => "utf-8"}
    / Responsive
    %meta{:name => "viewport", :content => "width=device-width"}
    / Keywords
    %meta{:name => "keywords", :content => ""}
    / Description
    %meta{:name => "discription", :content => ""}
    / Css
    <link href='<?php echo get_stylesheet_uri(); ?>' media='screen' rel='stylesheet'>
    / Font Awesome
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}
    / jQuery
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    / Bootstrap
    <script src='<?php echo get_template_directory_uri(); ?>/js/bootstrap.min.js'></script>
    <script src='<?php echo get_template_directory_uri(); ?>/js/slide_menu.js'></script>
    / Title
    %title プログラミングスクールを運営する会社のブログ| LOGZ,inc.
    %body
