%div#sidebar.col-md-4.hidden-xs.hidden-sm
  %section#sidebar_section
    / Category
    %h1.sidebar_article-member_title カテゴリー
    %ul.cat-list
      <?php wp_list_categories('title_li=&depth=1'); ?>

    / Tags
    %article.sidebar-single_frame
      %h1.sidebar_article-member_title タグで見る
      %ul.sidebar-single_tag-list
        <?php
        $args = array(
        'orderby' => 'count',
        'order' => 'desc',
        'number' => 10
        );
        $tags = get_terms('post_tag', $args);
        foreach($tags as $value) {
        echo '<li><a href="'. get_tag_link($value->term_id) .'" class="sidebar-single_tag-item">'. $value->name .'</a></li>';
        }
        ?>

    // Recommended
    %article.sidebar-single_frame
      %h1.sidebar_article-member_title おすすめの記事
      %div#content
        %div#content_main.sidebar_article-content.sidebar-single_content_main
          %section#content_section
            <?php query_posts('posts_per_page=5&orderby=rand') ?>
            <?php if(have_posts()): while(have_posts()): the_post(); ?>
            %article.content_article.content_article_mini
              <a href="<?php echo get_permalink(); ?>">
              %div.content_article-all.row.content_article-all_mini
                %div.content_article-img-all.content_article-img-all_mini
                  %p.content_article-img-all-in <?php the_post_thumbnail('ssize'); ?>
                -#   <?php
                -#   $cats = get_the_category();
                -#   $cats = $cats[0];
                -#   ?>
                -# <p class=" content_article-category content_article-category-half content_article-category_sidebar <?php echo $cats->category_nicename; ?>"> <?php $cat = get_the_category(); $cat = $cat[0]; { echo $cat->cat_name; } ?>
                %div.content_article-content_mini
                  %div.content_article-name_mini <?php the_modified_author(); ?>
                  %p
                    %time.content_article-time_mini{datetime: "<?php echo get_the_date();?>"} <?php echo get_the_date();?>
                    <?php
                    $days = 2;
                    $today = date_i18n('U');
                    $entry = get_the_time('U');
                    $elapsed = date('U',($today - $entry)) / 86400;
                    if( $days > $elapsed ){
                    echo '<span class="new new_mini">New</span>';
                    }
                    ?>
                  %h1.content_article-title_mini <?php the_title(); ?>
            <?php endwhile; endif; ?>


    // Advertisment
    %article.sidebar_article-advertisement_narrow
      %div.sidebar_article-advertisement_narrow-all
        -# %a{:href => "/"}
        -#   %img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5129.jpg"}
      <a href="http://superceo.jp/book/company/i60107/#!3" target="_blank"><img src="http://superceo.jp/book/company/i60107/bnr/i60107.jpg" alt="次世代経営者のCEOスタイルマガジンSUPERCEOで当社特集掲載中" width="1900" height="280" class="content_top-img"/></a>
