%div#sidebar.col-md-4.hidden-xs.hidden-sm
  %section#sidebar_section
    // Members
    %h1.sidebar_article-member_title Members
    %article.sidebar_article-member
      %div.sidebar_article-member_main
      %div.sidebar_article-member_other.row
        %div.member_other-all.col-md-4
          %a{:href => "/"}
            %p.member_other-all-img-frame
              %img.member_other-all-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5094-1.jpg"}
            %h1.member_other-all-manager 代表取締役
            %h2.member_other-all-name ああああああああああ
        %div.member_other-all.col-md-4
          %a{:href => "/"}
            %p.member_other-all-img-frame
              %img.member_other-all-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5094-1.jpg"}
            %h1.member_other-all-manager 代表取締役
            %h2.member_other-all-name ああああああああああ
        %div.member_other-all.col-md-4
          %a{:href => "/"}
            %p.member_other-all-img-frame
              %img.member_other-all-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5094-1.jpg"}
            %h1.member_other-all-manager 代表取締役
            %h2.member_other-all-name ああああああああああ
        %div.member_other-all.col-md-4
          %a{:href => "/"}
            %p.member_other-all-img-frame
              %img.member_other-all-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5094-1.jpg"}
            %h1.member_other-all-manager 代表取締役
            %h2.member_other-all-name ああああああああああ
        %div.member_other-all.col-md-4
          %a{:href => "/"}
            %p.member_other-all-img-frame
              %img.member_other-all-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5094-1.jpg"}
            %h1.member_other-all-manager 代表取締役
            %h2.member_other-all-name ああああああああああ
        %div.member_other-all.col-md-4
          %a{:href => "/"}
            %p.member_other-all-img-frame
              %img.member_other-all-img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5094-1.jpg"}
            %h1.member_other-all-manager 代表取締役
            %h2.member_other-all-name ああああああああああ

    // Recommended
    %article.sidebar_article-recommended
      %h1.sidebar_article-member_title Members
      %div#content
        %div#content_main.sidebar_article-content
          %section#content_section
            <?php query_posts('posts_per_page=5&orderby=rand') ?>
            <?php if(have_posts()): while(have_posts()): the_post(); ?>
            %article.content_article.content_article_mini
              <a href="<?php echo get_permalink(); ?>">
              %div.content_article-all.row.content_article-all_mini
                %div.content_article-img-all.content_article-img-all_mini
                  %p.content_article-img-all-in <?php the_post_thumbnail('ssize'); ?>
                -#   <?php
                -#   $cats = get_the_category();
                -#   $cats = $cats[0];
                -#   ?>
                -# <p class=" content_article-category content_article-category-half content_article-category_sidebar <?php echo $cats->category_nicename; ?>"> <?php $cat = get_the_category(); $cat = $cat[0]; { echo $cat->cat_name; } ?>
                %div.content_article-content_mini
                  %div.content_article-name_mini <?php the_modified_author(); ?>
                  %p
                    %time.content_article-time_mini{datetime: "<?php echo get_the_date();?>"} <?php echo get_the_date();?>
                    <?php
                    $days = 2;
                    $today = date_i18n('U');
                    $entry = get_the_time('U');
                    $elapsed = date('U',($today - $entry)) / 86400;
                    if( $days > $elapsed ){
                    echo '<span class="new new_mini">New</span>';
                    }
                    ?>
                  %h1.content_article-title_mini <?php the_title(); ?>
            <?php endwhile; endif; ?>

    / Advertisement (Wide)
    -# %article.sidebar_article-advertisement_wide

    / Advertisement (Narrow　300*250)
    %article.sidebar_article-advertisement_narrow
      %div.sidebar_article-advertisement_narrow-all
        %a{:href => "/"}
          %img{src: "http://localhost:8888/wordpress/wp-content/uploads/2016/02/IMG_5129.jpg"}
