/ Header
<?php get_header(); ?>
/ Single
%div#content
  %div#content_all.row
    %div#content_main
      %section#content_section
        %article#single_article
          %div.single_article-all
            <?php if(have_posts()): while(have_posts()): the_post(); ?>
            %div.single_article-info
              %time.single_article-date-text{datetime: "<?php echo get_the_date('Y-m-d');?>"} <?php echo get_the_date('Y-m-d');?>

            <?php the_title('<h1 class="single_article-title-text">', '</h1>' ); ?>
            %div.single_article-content
              <?php the_content(); ?>
            <?php $count=0; ?>
            <?php
            //カテゴリ情報から関連記事を6個ランダムに呼び出す
            $categories = get_the_category($post->ID);
            $category_ID = array();
            foreach($categories as $category):
            array_push( $category_ID, $category -> cat_ID);
            endforeach ;
            $args = array(
            'post__not_in' => array($post -> ID),
            'posts_per_page'=> 6,
            'category__in' => $category_ID,
            'orderby' => 'rand',
            );
            $query = new WP_Query($args); ?>
            <div class="single-table">一緒にこの記事も見られています</div>
            <?php if( $query -> have_posts() ): ?>
            <?php while ($query -> have_posts()) : $query -> the_post(); ?>
            <?php $count++; ?>
            <ul class="single-table-list <?php echo 'number'.$count; ?>
            <?php if(($count % 2)==0) {
            echo ' single-img-left';
            } ?>">
            <a href="<?php echo get_permalink(); ?>">
            <li class="single-table-item">
            <div id="single-table-item-main">
            <?php the_post_thumbnail('lsize'); ?>
            <?php if ( catch_that_image() ):?>
            <?php else:?>
            <img src="<?php echo catch_that_image(); ?>" alt="" width="" height="" />
            </li>
            </a>
            </ul>
            <?php endif; ?>
            <?php endwhile; endif; ?>
            <?php endwhile; else: ?>
            %p 記事が見つかりませんでした。
            <?php endif; ?>
            <?php wp_reset_query();?>

    / single sidebar
    = Haml::Engine.new(File.read("sidebar-single.haml")).render

<?php get_footer(); ?>
